/* Tags*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 400px;
  padding-top: 23rem;
  padding-bottom: 23rem;
  z-index: 3;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
  background-color: black;
  color: rgb(255, 255, 255);
  min-height: 400px;
  text-align: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
a{
  text-decoration: none;
  color: inherit;
}
body::-webkit-scrollbar {
  display: none;
}


section {
  color: rgb(255, 255, 255);
  min-height: 350px;
  padding: 100px 20vw;
  margin-top: 200px;
}


h1 {
  font-family: 'roboto', monospace;
  font-size: clamp(3rem, 10vw, 10rem);
  color: white;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

li {
  list-style-type: none;
}

ul {
  padding-inline-start: 0px;
}

footer {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  word-spacing: 5px;
}

/* Keyframes */
@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

/* Blob Animation */
#blob {
  height: 35vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 30%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, rgb(128, 235, 125), rgb(233, 107, 212));
  animation: rotate 20s infinite;
  opacity: 0.8;
}

/* Blur */
#blur {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

.onTop {
  z-index: 3;
  position: relative;
}

/* Cards */
#cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  min-width: 200px;
}

#cards:hover > .card::after {
  opacity: 0.5;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 300px;
  flex-direction: column;
  position: relative;
  width: 250px;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.card-image {
  align-items: center;
  display: flex;
  height: 190px;
  justify-content: center;
  overflow: hidden;
}

.card-image > i {
  font-size: 6em;
  opacity: 0.25;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info > i {
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info-title > h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.card-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}

/*ID's*/
#Projects {
  padding-left: 21px;
  padding-right: 21px;
}
