



 h3 {
     color: rgb(238, 222, 3);
 }


 a:link {
     color: #00f;
 }


 a:visited {
     color: #800080;
 }


 a:hover {
     color: #f00;
 }

 a:active {
     color: #008000;
 }

body {
    background-color: rgb(192, 168, 138);
    color: rgb(105, 63, 63);
}



